/*/////////////////////////////////////////////////
//チ  ャット画面
/////////////////////////////////////////////////*/

body {
  display: block;
  margin: 0px;
}

/* コンテナ */
.chat-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

/* メッセージリスト */
.message-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

/* メッセージ */
.message {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

/* アイコン画像 */
.message .icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

/* ユーザー情報コンテンツ */
.user-content {
  display: flex;
  align-items: center;
  font-size: 12px;
}

/* ユーザー名 */
.user-content .username {
  font-weight: bold;
}

/* メッセージ本文 */
.message-content {
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

/* メッセージテキスト */
.message-content .text {
  font-size: 12px;
  margin-top: 5px;
}

/* 入力エリア */
.input-area {
  display: flex;
  margin-top: 20px;
}

/* テキスト入力欄 */
.input-area input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size:16px;
}

/* 送信ボタン */
.input-area button {
  padding: 10px 20px;
  background-color: #007aff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

/* オーディオボタン */
.audio button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007aff;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}

.audio button.playing {
  background-color: #ff3b30;
}
